/* ---------- Footer ---------- */

.footer {
  background-color: var(--footer);
  color: var(--white);
}

.footer .spotlight {
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  list-style: none;
}

.footer__link a {
  color: inherit;
  text-decoration: none;
}

.footer__logo img {
  height: 40rem;
  filter: invert(1);
}

.footer__copyright {
  color: var(--white);
  margin-top: 32rem;
}

@media screen and (min-width: 900px) {
  .footer__links {
    flex-direction: row;
    align-items: center;
    gap: 64rem;
  }
}
