/* ---------- Variables ---------- */

:root {
  --autumn-50: #ffd3b7;
  --autumn-100: #ffbf97;
  --autumn-150: #fcceb0;
  --autumn-200: #561f08;
  --spring-50: #E4FFCF;
  --spring-100: #c6f8a1;
  --spring-200: #7da156;
  --spring-300: #577b30;
  --summer-50: #ffecb8;
  --summer-100: #ffdd81;
  --summer-150: #fce196;
  --summer-200: #fad369;
  --winter-50: #caebff;
  --winter-100: #a3dcff;
  --winter-200: #3eb5ff;
  --black: #000000;
  --white: #ffffff;

  --gradient-warm-dark: linear-gradient(
    180deg,
    #fae0bf 0%,
    #5f503e 50%,
    #1d1511 100%
  );

  --gradient-gold: linear-gradient(
    180deg,
    #c8870a 0%,
    #ffbf19 50%,
    #c8870a 100%
  );
  --gradient-silver: linear-gradient(
    180deg,
    #8c8c8c 0%,
    #d1d1d1 50%,
    #8c8c8c 100%
  );
  --gradient-bronze: linear-gradient(
    180deg,
    #8a4f0b 0%,
    #d0832b 50%,
    #8a4f0b 100%
  );
}

/* ---------- Global ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.0625rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Geologica", serif;
  font-weight: 300;
  font-size: 18rem;
  line-height: 1.4;
  background-color: var(--black);
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 48rem;
}

a,
button {
  color: inherit;
  transition: opacity 0.2s;
}

a:not(.button):hover,
button:not(.button):hover {
  opacity: 0.5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24rem;
}

.button {
  background-color: var(--summer-200);
  color: var(--black);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 24rem;
  border-radius: 8rem;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: var(--summer-150);
}

.button__text {
  line-height: 1;
  text-transform: uppercase;
  transform: translateY(10%);
}

@media screen and (min-width: 900px) {
  .button__text {
    font-size: 24rem;
  }
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}



/* ---------- Section ---------- */

.section {
  position: relative;
  padding: 64rem 0;
  z-index: 0;
  
}

@media screen and (min-width: 900px) {
  .section {
    padding: 128rem 0;
  }
}

.section-heading {
  font-family: "sansita", sans-serif;
  font-weight: bold;
  font-size: clamp(42rem, 10vw, 90rem);
  margin-bottom: 64rem;
}

.section-pretitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 32rem;
}

@media screen and (max-width: 500px) {
  .section-pretitle {
    font-size: 16rem;
  }
}

/* ---------- Feature List ---------- */

.feature-list__item:not(:first-child) {
  border-top: 1px solid black;
}

.feature-list__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16rem;
  padding: 32rem 0;
}

.feature-list__item > * {
  flex: 1;
}

@media screen and (min-width: 900px) {
  .feature-list__item {
      flex-direction: row;
  }

}


/* ---------- Top Row ---------- */

.top-row {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

/* Ingen aning varför men koden fungerar inte utan detta 🤪*/
.top-row > * {
  flex: 1;
  height: fit-content;
  display: flex;
  gap: 16rem;
  flex-direction: column;
  margin-bottom: 64rem;
  justify-content: center;
}

.top-row > * > p:first-child {
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  font-size: 24rem;
}

.feature-list__body > :not(:last-child) {
    margin-bottom: 16rem;
}

@media screen and (min-width: 900px) {
  .top-row {
      flex-direction: row;
      gap: 0;
  }

  .top-row > * > p:first-child {
      font-size: 32rem;
  }
}