

.title {
  display: flex;
  justify-content: center;
  font-family: "Sansita", sans-serif;
  font-weight: bold;
  font-size: 150rem;
  padding: 120rem 0;
}

.pretitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 20rem;
}

.subtitle {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 28rem;
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: var(--black);
  background: var(--gradient-hero);
}

.hero-section .container {
  text-align: center;
  margin-top: 72rem;
}

.lower-opacity {
  opacity: 0.1;
}

.hero__icons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16rem;
  margin-top: 32rem;
  justify-content: center;
  padding-bottom: 32rem;
}

.hero__icons-container img {
  height: 128rem;
  grid-column: span 1;
  align-self: center;
}

@media screen and (max-width: 650px) {
  .hero__icons-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .hero__icons-container img {
    height: 96rem;
  }
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes slowSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes sway {
    0% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

@keyframes flowerSwing {
    0% { transform: rotate(-5deg) translateY(0px); }
    50% { transform: rotate(5deg) translateY(-3px); }
    100% { transform: rotate(-5deg) translateY(0px); }
}