.idag-section {
  background: var(--gradient-idag);
  overflow: hidden;
  position: relative;
  color: var(--dark-brown);
}

.idag-section .feature-list__item:not(:first-child) {
  border-color: black;
}

.inatt-section {
  background: var(--gradient-inatt);
  color: var(--pearl-100);
  overflow: hidden;
}

.schema-section {
  background: var(--gradient-inatt);
  color: var(--pearl-100);
  overflow: hidden;
}

.inatt-section .feature-list__item:not(:first-child) {
  border-color: var(--pearl-100);
}

.inatt-section .button {
  background-color: var(--pearl-100);
}

.inatt-section .button:hover {
  background: var(--pearl-150);
}

.hidden {
  display: none;
}


.inatt-section .background-icon {
  top: -100rem;
  right: -100rem;
  animation: sway 10s infinite alternate;
}

.idag-section .background-icon {
  top: -100rem;
  right: -100rem;
  animation: spin 45s infinite linear;
}

.cancelled {
  height: 100%;
  width: fit-content;
  background-color: var(--black);
  color: var(--summer-100);
  border-color: var(--autumn-200);
  transform: rotate(-10deg);
  font-size: 48rem;
  top: 200rem;
  left: 400rem;
}