.idag-section {
  background: var(--gradient-idag);
  overflow: hidden;
  position: relative;
  color: var(--dark-brown);
}

.idag-section .feature-list__item:not(:first-child) {
  border-color: black;
}

.inatt-section {
  background: var(--gradient-inatt);
  color: var(--pearl-100);
  overflow: hidden;
}

.schema-section {
  background: var(--gradient-inatt);
  color: var(--pearl-100);
  overflow: hidden;
}

.inatt-section .feature-list__item:not(:first-child) {
  border-color: var(--pearl-100);
}

.inatt-section .button {
  background-color: var(--white);
}

.inatt-section .button:hover {
  background: #d1c6b9;
}

.hidden {
  display: none;
}

.inatt-section .background-icon {
  top: -100rem;
  right: -100rem;
  animation: sway 10s infinite alternate;
}

.idag-section .background-icon {
  top: -100rem;
  right: -100rem;
  animation: spin 45s infinite linear;
}

