
.intro__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align:center;
    gap: 16rem;
}

.intro__content p {
    grid-column: span 3;
    font-size: 24rem;
    margin-top: 250rem;
    color: var(--pearl);
}

@media screen and (max-width: 600px) {
    .intro__content {
        display: flex;
        flex-direction: column;
        gap: 16rem;
        align-items: center;
    }
}