.intro-section {
    font-size: 32rem;
    background-color: var(--spring-100);
    padding: 24rem 0;
}

.intro-section .container {
    padding: 10rem;
}

.intro__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align:center;
    gap: 16rem;
}

.intro__content img {
    grid-column: span 1;
    margin: 0 auto;
}

.intro__content p {
    grid-column: span 3;
}

@media screen and (max-width: 600px) {
    .intro__content {
        display: flex;
        flex-direction: column;
        gap: 16rem;
        align-items: center;
    }
}