.idag__marquee {
    background-color: white;
}

.inatt__marquee {
    background-color: white;

}

.marquee {
    display: flex;
    overflow: hidden;
    padding: 8rem 0;
    position: relative;
}

.marquee__inner {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 15s linear infinite;
    width: max-content;
}

.marquee__content {
    flex: 0 0 auto;
    min-width: max-content;
    
    padding: 0 16rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.marquee__content img {
    height: 24rem;
}


@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
