.idag__marquee {
    background-color: transparent;
    margin-top: -50rem;
    margin-bottom: 20rem;
}

.inatt__marquee {
    background-color:transparent;

}

.marquee {
    display: flex;
    overflow: hidden;
    padding: 8rem 0;
    position: relative;
}

.marquee__inner {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 30s linear infinite;
    width: max-content;
    gap: 100rem;
}

.marquee__content {
    flex: 0 0 auto;
    min-width: max-content;
    
    padding: 0 16rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.marquee__content img {
    height: 32rem;
}


@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
