nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 24rem;;
    font-size: 16rem;
}

nav img {
    mix-blend-mode: hard-light;
    height: 40rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14rem 16rem;
    text-decoration: none;
}

nav ul li.right {
    float: right;
}

.nav-button {
    padding: 14rem 16rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
    font-size: 24rem;
    line-height: 24rem;
    z-index: 1000;
}

.fullscreen-menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    z-index: 999;
    color: white;
    padding: 50px 50px;
    text-align: center;
    overflow-y: auto;
    transition: top 0.3s ease;
}

.fullscreen-menu.active {
    top: 0;
    transition: top 0.3 ease;
}

.fullscreen-menu ul {
    padding: 0;
}

.fullscreen-menu ul li {
    margin: 20px 0;
}

.fullscreen-menu ul li a {
    font-size: 24px;
    text-decoration: none;
}

.menu__links {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.fullscreen-menu img {
    filter: invert(1);
    height: 32rem;
}

.fullscreen-menu ul {
    padding-top: 50rem;
}

.fullscreen-menu ul li {
    margin: 0;
    font-size: 24rem;
}

@media screen and (max-width: 789px) {
    .navbar__links {
        display: none;
    }
    
    .nav-button {
        display: flex;
    }
}

