.sponsor-section {
  background: var(--gradient-idag);
  color: var(--white);
  overflow: hidden;
}

.sponsor-heading {
    font-family:  "Sansita", sans-serif;
    font-size: 48rem;
    font-weight: 600;
    color: var(--spring-100);
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24rem;
}

@media screen and (max-width: 1024px) {
    .sponsor-list {
        flex-direction: column;
        align-items: center;
    }

    .sponsor {
        width: 100%;
        max-width: 600px;
    }
}

.sponsor-list h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 24rem;
    font-weight: 700;
}

.sponsor {  
    background-color: var(--spring-100);
    color: black;
    width: calc(50% - 24rem);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64rem;
    gap: 16rem;
}

@media screen and (max-width: 1024px) {
    .sponsor-list {
        flex-direction: column;
        align-items: center;
    }
    
    .sponsor {
        width: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .sponsor-list {
        flex-direction: column;
        align-items: center;
    }
    
    .sponsor {
        width: 100%;
        max-width: 600px;
        padding: 32rem;
    }
}

.sponsor-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200rem;
    margin-bottom: 16rem;
}
.sponsor-logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.sponsor-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.sponsor-link {
    text-decoration: none;
    color: var(--black);
    font-family: "League Spartan", sans-serif;
    font-size: 24rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-top: 8rem;
}

.sponsor-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    background-color: var(--spring-200);
    border-radius: 8px;
    
}