/* ---------- Team ---------- */
.team-section {
    background: var(--gradient-team);
    color: var(--pearl-100);
}

.team-section h3 {
    color: var(--pearl-100);
    font-weight: 500 !important;
}

.team-section .feature-list__item:not(:first-child) {
    border-color: var(--pearl-100);
}
    
  .team-section .feature-list__body-column ul {
    list-style: none;
  }
  
  .team-section .feature-list__body-column li:not(:last-child) {
    margin-bottom: 16rem;
  }

  .team-member {
    display: flex;
    align-items: center;
    gap: 16rem;
  }
  
  .team-member img {
    object-fit: cover;
    width: 64rem;
    height: 64rem;
    border-radius: 9999px;
  }
  
  @media screen and (min-width: 900px) {
    .team-member img {
      width: 80rem;
      height: 80rem;
    }
    .feature-list__title-column > :first-child {
        position: sticky;
        top: 96rem;
    }
  }


  .team-header-green{
    color: var(--spring-100);
  }

  .team-header-blue {
    color: var(--winter-100);
  }

  .team-header-orange {
    color: var(--autumn-100);
  }

  .team-header-yellow {
    color: var(--summer-100);
  }